body {
  background-image: url('/static/images/halloween_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', serif;
  color: #800000;
  margin: 0;
  text-align: center;
  animation: pulse 5s infinite alternate; /* Animación para que el fondo "lata" */
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.spider {
  position: absolute;
  animation: spiderAnimation 15s infinite linear; /* Animación para las arañitas */
}

@keyframes spiderAnimation {
  0% { top: 0; left: 0; }
  25% { top: 100px; left: 100px; }
  50% { top: 200px; left: 200px; }
  75% { top: 300px; left: 300px; }
  100% { top: 0; left: 0; }
}